
body{
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png");
}	

header{
	width:100%;
	background-color: white;
	border-bottom: solid #ddd2d2;
	padding:30px;
}

#name{
	font-family: 'Georgia', Times, Times New Roman, serif,;
	color:white;
	font-weight: bold;
	background-color: #4aaaa5;
	font-size: 20pt;
	padding: 30px 10px 45px 10px;
	margin-left: 80px
}

nav{
	display:inline-block;
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-left: 800px;
}

a:visited {
color: #4aaaa5;
}

a:hover {
  color: #4aaaa5;
}
section{
	background-color: white;
	border: solid 1px #ddd2d2;
	width: 55%;
	height: 50%;
	float: left;
	margin: 30px 0px 100px 110px;
	padding:20px;
}

#sidebar{
	background-color: white;
	color: #4aaaa5;
	text-align: center;
	border-style: solid #ddd2d2;
	border: solid 1px #ddd2d2;
	width: 20%;
	height: 20%;
	float: right;
	margin: 30px 30px 20px 0px;
	padding:20px;
}

#connect{
	font-size: 18pt;
}

#pic{
	float: left;
	padding:10px;
}


h2{
	color: #4aaaa5;
	font-weight: bold;
	font-size: 20pt;
	background-color: white;
	padding: 20px;
	border-bottom: solid #ddd2d2;
	margin:20;
}

#port{
	border-right: solid 1px #ddd2d2;
	border-left: solid 1px #ddd2d2;
	margin-right: 5px;
	margin-left:5px;
	padding-left: 5px;
	padding-right: 5px;
}

#all{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea{
	padding:10px 90px 40px 10px;
	margin-top: 10px;
}

input{
	margin-top: 10px;
}

footer{
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #666666;
	text-align: center;
	padding: 30px;
	border-top: solid 4px #4aaaa5;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 1%;
    width: 100%;
}

ul{
	list-style-type: none;
	background-color: white;
	color: #777777;
	border-top: solid #ddd2d2;
	padding-top: 20px;
}

li{
	display: inline;
}


html {
    position: relative;
    min-height: 100%;
}

#image{
	height:200px;
	width: 250px;
	padding: 10px 20px 20px 20px;
	
}

 .image-wrapper { 
 	position: relative; width: 250px;
 	float: left; 
 	margin-right: 30px
 }    

.image-wrapper p{
    position: absolute;
    left: 15px;
    top: 150px;
    padding: 15px;
    border: 1px solid #4aaaa5;
    width: 218px;
    color: #FFF;
    margin: 5px;
    background-color: #4aaaa5;
    text-align: center
}


@media (max-width: 980px) {
	p{
		float:right;
	}
	#pic{
		width: 300px;
		height: 300px;
		margin-left: 10px;
	}
	nav{
		display:inline;
		margin-left: 300px;
	}
	#name{
		margin-left: 20px;
		float:left;
		padding-bottom: 25px;
		padding-top: 50px;
		margin-top: 0px;
	}
	section{
		width: 40%;
		margin-bottom: 20px;
	}
	#sidebar{
		margin: 30px 140px 20px 0px;
		float: left;
		width: 30%;
		margin-top: 0px;
		margin-left: 110px;
	}
	#image{
		width: 130%;
		height: 120%;
	}
	.image-wrapper p{
		padding-right: 70px;
		padding-left:60px;
		position: absolute;
    	left: 15px;
    	top: 210px;
	}
	footer{
		position: relative;
		margin-top: -150px; 
		height: 20px;
		clear:both;
		width: 100%
	}
	
}


@media (max-width: 768px){
	#pic{
		width: 250px;
		height: 250px;
		margin-left: 0px;
		float: left;
	}
	section{
		width:80%;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	#all{
		width: 50%;
	}
	nav{
		display: inline-block;
		margin-top: -40px;
		padding: 10px;

	}
	header{
		padding-left: 0px;
		padding-bottom: 100px;
		padding-right: 60px;
		padding-top: 0px;
	}
	#name{
		margin-left: 20px;
		float:left;
		padding-bottom: 25px;
		padding-top: 50px;
		margin-top: 0px;
	}
	#sidebar{
		float: left;
		padding-right: 30px;
		margin-left: 20px;
		width: 30%;

	}
	footer{
		position: relative;
		margin-top: -150px; 
		height: 20px;
		clear:both;
		width: 100%

	} 
	#image{
		height: 100% ;
		width: 100%;
	}
	.image-wrapper p{
		position: absolute;
    	left: 15px;
    	top: 135px;
    	padding-right: 15px;
		padding-left:15px;
		
	}
	
}	
@media (max-width: 675px){
	#pic{
		width:90%;
		height:90%;
	}
	#all{
		float:left;
		width:90%;
		height:90%;
	}
}


@media (max-width: 640px){
	#all{
		float:left;
		width: 90%;
		margin-left: 20px;
	}
	#pic{
		width: 90%;
		height: 90%;
		margin-left: 10px;
		margin-bottom: 10px;
		margin-top: 10px
	}
	nav{
		width:100%;
		background-color: white;
		border-bottom: solid 1px #ddd2d2;
		padding-right: 70px;
		padding-top: 20px;
		float:none;
		margin-top: 0px;
		margin-left: 0px;
		text-align: center;
		padding-bottom: 20px

	}
	#port{
		margin-left: 70px;
		margin-right: 70px;
		margin-bottom: 20px;
		border: none;
	}
	#name{
		margin-left: 0px;
		text-align: center;
		position: relative;
		margin-top: 0px; 
		height: 20px;
		clear:both;
		width: 100%;
		padding-right: 70px;
		padding-bottom: 40px;
		padding-top: 40px;
		

	}
	header{
		position: static;
		width:90%;
		padding-top: 0px;
		padding-right: 50px;
		padding-bottom: 0px;
		border-bottom: none;
	}
	section{
		margin-left: 50px;
	}
	#sidebar{
		margin-left: 50px;
	}
	footer{
		position: relative;
		margin-top: -150px; 
		height: 20px;
		clear:both;
		width: 90%
	}	
		#image{
		height: 170% ;
		width: 190%;
	}
	.image-wrapper p{
		position: absolute;
    	left: 15px;
    	top: 300px;
    	padding-right: 125px;
		padding-left:130px;
	}
}	




