<!DOCTYPE html>
<html>
<link rel="stylesheet"  href="../public/css/reset.css">
<link rel="stylesheet"  href="../public/css/style.css">
	<head>
		<link rel="shortcut icon" href="../public/images/smiley.png">
		<title>Brianne Hostutler</title>
	</head>

<body>

<header>
	<h1 id= "name">Brianne Hostutler</h1>
	<nav id="navigation">
		<a href=#home>About</a>
    <a href=#projects>Portfolio</a>
    <a href=#contact>Contact</a>
	</nav>
</header>


<div class= "container">

<!-- About -->
	<div class="aboutSection">
		<h2>About Me</h2>
		<img src= "../public/images/me.jpg" height="200" width="200" id="me">
		<p>
			<br>Hi, I'm Brianne, a web developer based out of New Jersey. I graduated in May of 2015 from Rutgers Univeristy in New Brunswick with a B.A. in Linguistics and Psychology.  <br><br>
			I look at learning to code in the same way that I learned and studied languages as a Linguistics major. All languages, including computer programming languages, have a pattern that they follow. The trick to figuring them out is to learn and practice that pattern until you are fluent in that language. <br><br>
			Interested in hiring me? Feel free to contact me!
			<br>Email: <a href="mailto:briannehostutler@gmail.com">briannehostutler@gmail.com</a>.</p>
		<div>
			<a href=https://github.com/BrianneHostutler><img src= "../public/images/github.png" height="50" width="50" ></a>
			<a href=https://www.linkedin.com/in/briannehostutler><img src= "../public/images/linkedin.png"height="48" width="48"></a>
		</div>
		
	</div>


<!-- Projects -->
<div id ="projects">
	<div id="projectsWrapper">
		<h2>Portfolio</h2>
			<br><br>
		<div id="allProjects">		
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img src="../public/images/image5.jpg">
					</div>
					<div class="back">
						<h3><a href= "https://canieatthisapp.herokuapp.com/" target= '_blank'>Can I Eat This?</a></h3>
						<p>test test test test test test test test test test test test test test</p>
					</div>
				</div>
			</div>

			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
							<img src="../public/images/image3.jpg">
					</div>
					<div class="back">
						<h3><a href= "https://londontriviagame.herokuapp.com/" target= '_blank'>Trivia Game</a></h3>
						<p>test test test test test test test test test test test test test test</p>
					</div>
				</div>
			</div>

			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img src="../public/images/image1.jpg">
					</div>
					<div class="back">
						<h3><a href="http://lychee-sundae-47966.herokuapp.com/" target= '_blank'>Script Javascript</a></h3>
						<p>test test test test test test test test test test test test test test</p>
					</div>
				</div>
			</div>

			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img src="../public/images/image4.jpg">
					</div>
					<div class="back">
						<h3><a href= "https://giphyfinder.herokuapp.com/" target= '_blank'>GIF Finder</a></h3>
						<p>test test test test test test test test test test test test test test</p>
					</div>
				</div>
			</div>

			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img src="../public/images/image2.jpg">
					</div>
					<div class="back">
						<h3><a href= "https://crystalcollector.herokuapp.com/" target= '_blank'>Crystal Collector</a></h3>
						<p>test test test test test test test test test test test test test test</p>
					</div>
				</div>
			</div>

			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						XXXXXX
					</div>
					<div class="back">
						YYYYYYY
					</div>
				</div>
			</div>

		</div>
	</div>	
</div>


	<!-- Contact Section -->
	<div id="contact">
		<h2>Contact Me</h2><br>

		<h4>Email: <a href="mailto:briannehostutler@gmail.com">briannehostutler@gmail.com</a>.</h4>
		<div class="socialIcons">
			<a href=https://github.com/BrianneHostutler><img src= "../public/images/github.png" height="50" width="50" ></a>
			<a href=https://www.linkedin.com/in/briannehostutler><img src= "../public/images/linkedin.png"height="48" width="48"></a>
		</div>
	</div>

</div>


</body>

	<!-- <footer>
		<div id="footer">&copy;Copyright 2016 Brianne Hostutler</div>
	</footer> -->


</html>
