#name,
#navigation,
#projects h3,
.githubLink,
h2,
h4,
p {
    text-align: center
}

.container,
header {
    background-image: url(./public/images/blacktriangles.png)
}

#navigation a:link,
.noUnderline {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background-color: #fff
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 9.5rem;
    line-height: 125px;
    letter-spacing: 0
}

/*a,
h2,
h3,
h4,
p {
    font-family: 'Archivo Narrow', sans-serif
}

p {
    font-size: 16px
}

h2 {
    padding: 1%;
    font-size: 30pt
}

h3 {
    font-size: 24pt;
    padding-top: 60px
}

h4 {
    font-size: 20px
}

a:hover {
    color: #D7D1D9;
    cursor: pointer
}

a:link,
a:visited {
    color: #000
}

#name,
.navWrapper a {
    color: #fff
}

#name {
    padding: 120px
}

.container {
    margin-top: 7%;
    padding: 50px;
    overflow: auto
}

.navWrapper {
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 60px;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear
}

#projects h3,
p {
    margin: 15px
}

#contact a,
.navWrapper.Stage2 a,
.socials a {
    color: #000
}

.card {
    border: 1px solid #000
}

.navWrapper.Stage2 {
    background-color: #fff;
    border-bottom: gray 1px solid
}

#navigation {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 40px
}

.socials p {
    text-align: center!important
}

#navigation a:link {
    padding: 20px
}

.socials {
    width: 20%;
    float: left;
    margin-top: 33px;
    margin-left: 35px
}

.aboutSection {
    width: 100%;
    height: 270px;
    padding: 0
}

.aboutSection p {
    text-align: left
}

.AboutDetail {
    width: 45%;
    float: left
}

.AboutDetail p {
    font-size: 18px
}

.TextLarge {
    font-size: 24px
}

#me {
    float: left;
    margin: 3%
}

#contact {
    margin:0 auto;
    padding: 20px;
    width: 60%;
    border: 2px solid #000
}

@media only screen and (max-width:1100px) {
    .socials {
        margin-left: 0
    }
    #me {
        margin-right: 5px
    }
    h1 {
        font-size: 7rem
    }
}

@media only screen and (max-width:975px) {
    .socials p {
        margin-left: 1px;
        margin-right: 1px
    }
    #me {
        height: 210px;
        width: 210px
    }
}

@media only screen and (max-width:890px) {
    #navigation {
        padding-bottom: 15px
    }
    .aboutSection {
        height: 365px
    }
    .AboutDetail {
        width: 70%;
        margin-bottom: 45px
    }
    .socials {
        width: 100%;
        float: none;
        border: none
    }
}

@media only screen and (max-width:850px) {
    h1 {
        font-size: 6rem
    }
    h3 {
        padding-top: 50px
    }
}

@media only screen and (max-width:800px) {
    .aboutSection {
        height: 420px
    }
    .AboutDetail {
        width: 65%
    }
    h1 {
        font-size: 5rem
    }
}

@media only screen and (max-width:690px) {
    .aboutSection {
        height: 560px
    }
    .AboutDetail {
        width: 100%;
        margin-bottom: 10px
    }
    .AboutDetail p {
        text-align: center
    }
    #fullName {
        line-height: 75px
    }
    #meBox {
        width: 240px;
        margin: 0 auto
    }
    .socials {
        width: 200px;
        margin: 0 auto
    }
}

@media only screen and (max-width:640px) {
    #socials {
        width: 110px
    }
    .navWrapper a {
        font-size: 16pt
    }
    .textWrapper {
        margin-bottom: 50px;
        height: 100%
    }
    .aboutSection {
        height: 600px
    }
    h1 {
        font-size: 5rem;
        line-height: 90px
    }
    #name {
        padding: 100px 0
    }
}

@media screen and (max-width:500px) {
    .aboutSection {
        height: 650px
    }
}

@media screen and (max-width:455px) {
    .container {
        padding: 0
    }
    #me,
    #navigation a:link {
        padding: 10px
    }
    .aboutSection {
        height: 700px
    }
    h1 {
        font-size: 4rem
    }
    #me {
        margin: 0 auto
    }
    h2 {
        font-size: 22pt
    }
    h4 {
        font-size: 12pt
    }
    #navigation {
        font-size: 1.7em
    }
    #name {
        padding: 100px 0
    }
}












.container,
header {
    background-image: url(../images/blacktriangles.png)
}

#name,
#navigation,
.githubLink,
h2,
h4 {
    text-align: center
}

#navigation a:link,
.noUnderline {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background-color: #fff
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 9.5rem;
    line-height: 125px;
    letter-spacing: 0
}

a,
h2,
h3,
h4,
p {
    font-family: 'Archivo Narrow', sans-serif
}

p {
    font-size: 16px
}

h2 {
    padding: 1%;
    font-size: 30pt
}

h3 {
    font-size: 24pt;
    padding-top: 60px
}

h4 {
    font-size: 20px
}


a:hover {
    color: #D7D1D9;
    cursor: pointer
}

a:link,
a:visited {
    color: #000
}

#name,
.navWrapper a {
    color: #fff
}


#name {
    padding: 120px
}

.container {
    margin-top: 7%;
    padding: 50px;
    overflow: auto
}

.navWrapper {
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 60px;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear
}
#projects h3,
p {
    text-align: center;
    margin: 15px
}
#contact a,
.navWrapper.Stage2 a,
.socials a {
    color: #000;
}
.card {
    border: 1px solid #000
}
.navWrapper.Stage2 {
    background-color: #fff;
    border-bottom: gray 1px solid
}

#navigation {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 40px
}
.socials {
    width: 20%;
    float: left;
    margin-top: 33px;
    margin-left: 35px
}
.socials p {
    text-align: center!important
}

#navigation a:link {
    padding: 20px
}

.socials {
    width: 20%;
    float: left;
    margin-top: 33px;
    margin-left: 35px
}
.aboutSection {
    width: 100%;
    height: 270px;
    padding: 0
}
.aboutSection p {
    text-align: left
}

.AboutDetail {
    width: 45%;
    float: left
}
.AboutDetail p {
    font-size: 18px
}
.TextLarge {
    font-size: 24px
}
#me {
    float: left;
    margin: 3%
}
#contact {
    margin-top: 20px;
    margin-left: 25%;
    padding: 20px;
    width: 40%;
    border: 2px solid #000;
}


@media only screen and (max-width:1100px) {
    .socials {
        margin-left: 0
    }
    #me {
        margin-right: 5px;
    }
    h1 {
        font-size: 7rem;
    }

}

@media only screen and (max-width:975px) {
    .socials p {
        margin-left: 1px;
        margin-right: 1px
    }
    #me {
        height: 210px;
        width: 210px;
    }

}

@media only screen and (max-width:890px) {
    #navigation {
        padding-bottom: 15px;
    }
    .aboutSection {
        height: 365px;
    }
    .AboutDetail {
        width: 70%;
        margin-bottom: 45px;
    }
    .socials {
        width: 100%;
        float: none;
        border: none
    }
}

@media only screen and (max-width:850px) {
    h1 {
        font-size: 6rem;
    }
    h3 {
        padding-top: 50px
    }
}

@media only screen and (max-width:800px) {
    .aboutSection {
        height: 420px
    }
    .AboutDetail {
        width: 65%
    }
    h1 {
        font-size: 5rem
    }
}

@media only screen and (max-width:690px) {
    .aboutSection {
        height: 560px
    }
    .AboutDetail {
        width: 100%;
        margin-bottom: 10px
    }
    .AboutDetail p {
        text-align: center
    }
    #fullName {
        line-height: 75px
    }
    #meBox {
        width: 240px;
        margin: 0 auto
    }
    .socials {
        width: 200px;
        margin: 0 auto
    }
}

@media only screen and (max-width:640px) {
    #socials {
        width: 110px
    }
    .navWrapper a {
        font-size: 16pt
    }
    .textWrapper {
        margin-bottom: 50px;
        height: 100%
    }
    .aboutSection {
        height: 600px
    }
    h1 {
        font-size: 5rem;
        line-height: 90px
    }
    #name {
        padding: 100px 0
    }
}

@media screen and (max-width:500px) {
    .aboutSection {
        height: 650px
    }
}

@media screen and (max-width:455px) {
    .container {
        padding: 0;
    }
    .aboutSection {
        height: 700px;
    }
    h1 {
        font-size: 4rem;
    }
    #me {
        padding: 10px;
        margin: 0 auto;
    }
    h2 {
        font-size: 22pt;
    }
    h4 {
        font-size: 12pt;
    }
    #navigation {
        font-size: 1.7em;
    }
    #navigation a:link {
        padding: 10px;
    }
    #name {
        padding: 100px 0;
    }
   
}*/

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 899px 306px #FFF , 660px 868px #FFF , 156px 15px #FFF , 55px 113px #FFF , 1376px 675px #FFF , 1622px 1067px #FFF , 789px 562px #FFF , 1931px 1555px #FFF , 779px 611px #FFF , 503px 823px #FFF , 1313px 997px #FFF , 1846px 1901px #FFF , 1584px 1849px #FFF , 90px 1244px #FFF , 429px 1530px #FFF , 403px 350px #FFF , 1378px 762px #FFF , 579px 1211px #FFF , 966px 1606px #FFF , 1230px 391px #FFF , 1169px 1638px #FFF , 1187px 1841px #FFF , 139px 249px #FFF , 630px 1177px #FFF , 188px 1238px #FFF , 1293px 1783px #FFF , 543px 921px #FFF , 509px 1866px #FFF , 1836px 1212px #FFF , 886px 386px #FFF , 1211px 645px #FFF , 1847px 1488px #FFF , 1359px 121px #FFF , 486px 1706px #FFF , 712px 969px #FFF , 403px 1647px #FFF , 1876px 1641px #FFF , 1052px 1691px #FFF , 196px 1697px #FFF , 1288px 1396px #FFF , 94px 1702px #FFF , 1336px 1653px #FFF , 37px 687px #FFF , 1794px 416px #FFF , 291px 1295px #FFF , 1654px 1174px #FFF , 627px 1629px #FFF , 644px 542px #FFF , 1128px 381px #FFF , 855px 1870px #FFF , 646px 1991px #FFF , 1708px 1371px #FFF , 770px 938px #FFF , 102px 575px #FFF , 1773px 451px #FFF , 1698px 720px #FFF , 36px 924px #FFF , 909px 815px #FFF , 572px 1888px #FFF , 219px 1023px #FFF , 713px 495px #FFF , 1447px 428px #FFF , 461px 319px #FFF , 951px 1873px #FFF , 781px 261px #FFF , 585px 115px #FFF , 1379px 1021px #FFF , 646px 627px #FFF , 1786px 145px #FFF , 65px 1296px #FFF , 213px 635px #FFF , 951px 1865px #FFF , 740px 987px #FFF , 439px 330px #FFF , 1097px 331px #FFF , 1633px 1481px #FFF , 463px 1148px #FFF , 303px 1342px #FFF , 722px 1152px #FFF , 694px 1159px #FFF , 311px 57px #FFF , 1539px 32px #FFF , 1751px 179px #FFF , 1827px 1779px #FFF , 1044px 1653px #FFF , 1501px 1937px #FFF , 1662px 543px #FFF , 465px 1108px #FFF , 651px 1552px #FFF , 1484px 1143px #FFF , 1664px 651px #FFF , 1018px 1832px #FFF , 890px 817px #FFF , 1876px 305px #FFF , 736px 1811px #FFF , 400px 565px #FFF , 1409px 1831px #FFF , 1047px 1441px #FFF , 325px 1544px #FFF , 598px 1248px #FFF , 1745px 1479px #FFF , 1815px 191px #FFF , 560px 1961px #FFF , 1502px 258px #FFF , 819px 110px #FFF , 408px 1778px #FFF , 1792px 795px #FFF , 768px 465px #FFF , 448px 1205px #FFF , 734px 697px #FFF , 884px 1183px #FFF , 1695px 1836px #FFF , 1161px 1381px #FFF , 148px 1218px #FFF , 416px 1903px #FFF , 1700px 1628px #FFF , 1254px 1581px #FFF , 257px 1127px #FFF , 797px 1304px #FFF , 778px 628px #FFF , 45px 713px #FFF , 1539px 280px #FFF , 1327px 1795px #FFF , 1202px 220px #FFF , 1717px 86px #FFF , 1501px 292px #FFF , 1157px 177px #FFF , 1497px 877px #FFF , 792px 93px #FFF , 1135px 866px #FFF , 409px 557px #FFF , 235px 447px #FFF , 494px 1705px #FFF , 1459px 1041px #FFF , 1612px 1689px #FFF , 1997px 1502px #FFF , 1251px 802px #FFF , 436px 191px #FFF , 314px 941px #FFF , 76px 1667px #FFF , 50px 997px #FFF , 333px 994px #FFF , 1772px 562px #FFF , 175px 1222px #FFF , 572px 1582px #FFF , 1171px 227px #FFF , 1858px 209px #FFF , 1703px 1176px #FFF , 303px 640px #FFF , 1435px 137px #FFF , 21px 1395px #FFF , 1696px 1907px #FFF , 185px 787px #FFF , 1118px 85px #FFF , 790px 732px #FFF , 1757px 469px #FFF , 1122px 1864px #FFF , 1095px 1401px #FFF , 1524px 1769px #FFF , 1116px 1172px #FFF , 1634px 511px #FFF , 646px 1177px #FFF , 1462px 1142px #FFF , 514px 1129px #FFF , 44px 149px #FFF , 1708px 588px #FFF , 1254px 1072px #FFF , 805px 1194px #FFF , 1084px 1940px #FFF , 645px 1003px #FFF , 1783px 1230px #FFF , 202px 222px #FFF , 111px 1524px #FFF , 466px 1296px #FFF , 1930px 1860px #FFF , 162px 1469px #FFF , 680px 1897px #FFF , 1336px 306px #FFF , 1080px 1861px #FFF , 1401px 1705px #FFF , 1256px 1526px #FFF , 1164px 663px #FFF , 1684px 1773px #FFF , 868px 261px #FFF , 76px 1977px #FFF , 957px 1920px #FFF , 470px 485px #FFF , 1966px 1965px #FFF , 882px 1009px #FFF , 397px 1806px #FFF , 1094px 1143px #FFF , 1328px 1624px #FFF , 817px 211px #FFF , 1190px 1264px #FFF , 700px 1392px #FFF , 1580px 325px #FFF , 566px 189px #FFF , 477px 440px #FFF , 273px 1787px #FFF , 1689px 1174px #FFF , 1861px 1949px #FFF , 799px 1305px #FFF , 88px 121px #FFF , 1544px 1539px #FFF , 292px 1360px #FFF , 1190px 1298px #FFF , 1791px 414px #FFF , 1471px 635px #FFF , 1978px 1323px #FFF , 121px 925px #FFF , 947px 1934px #FFF , 392px 1103px #FFF , 670px 196px #FFF , 1329px 1063px #FFF , 1106px 720px #FFF , 752px 1092px #FFF , 636px 421px #FFF , 1737px 1635px #FFF , 1317px 1028px #FFF , 45px 1115px #FFF , 204px 1096px #FFF , 391px 1750px #FFF , 1147px 1696px #FFF , 370px 705px #FFF , 1962px 55px #FFF , 1644px 829px #FFF , 1111px 181px #FFF , 1667px 1380px #FFF , 1957px 1163px #FFF , 779px 156px #FFF , 38px 307px #FFF , 1282px 264px #FFF , 48px 1691px #FFF , 332px 1435px #FFF , 1919px 1157px #FFF , 668px 965px #FFF , 152px 685px #FFF , 1854px 1169px #FFF , 1366px 637px #FFF , 620px 163px #FFF , 1932px 1567px #FFF , 1788px 1992px #FFF , 1735px 1653px #FFF , 1094px 1573px #FFF , 1604px 1748px #FFF , 1801px 570px #FFF , 671px 1736px #FFF , 1654px 81px #FFF , 326px 1925px #FFF , 1264px 1370px #FFF , 1382px 1204px #FFF , 506px 1339px #FFF , 346px 991px #FFF , 615px 183px #FFF , 657px 1689px #FFF , 813px 898px #FFF , 1455px 1720px #FFF , 1565px 545px #FFF , 1432px 1823px #FFF , 1625px 1496px #FFF , 1871px 701px #FFF , 804px 423px #FFF , 1646px 887px #FFF , 706px 1755px #FFF , 1546px 1381px #FFF , 1350px 1971px #FFF , 1966px 1349px #FFF , 1200px 858px #FFF , 1174px 1994px #FFF , 41px 1730px #FFF , 1757px 1197px #FFF , 526px 1564px #FFF , 935px 1943px #FFF , 1788px 951px #FFF , 810px 1604px #FFF , 674px 1364px #FFF , 1721px 505px #FFF , 848px 610px #FFF , 1068px 1716px #FFF , 728px 725px #FFF , 1770px 118px #FFF , 205px 1059px #FFF , 1131px 1239px #FFF , 1719px 1760px #FFF , 1444px 449px #FFF , 1264px 816px #FFF , 1107px 697px #FFF , 1772px 1899px #FFF , 1134px 954px #FFF , 1542px 1607px #FFF , 1597px 334px #FFF , 1118px 1963px #FFF , 910px 13px #FFF , 646px 1654px #FFF , 1167px 1995px #FFF , 244px 571px #FFF , 1914px 1376px #FFF , 1438px 94px #FFF , 1277px 1408px #FFF , 1926px 907px #FFF , 212px 1180px #FFF , 1637px 241px #FFF , 1059px 351px #FFF , 1849px 1820px #FFF , 68px 1760px #FFF , 1736px 606px #FFF , 926px 155px #FFF , 1046px 1818px #FFF , 1164px 1028px #FFF , 1097px 818px #FFF , 1849px 1478px #FFF , 861px 1865px #FFF , 1062px 806px #FFF , 1952px 502px #FFF , 1327px 33px #FFF , 1907px 86px #FFF , 1777px 1873px #FFF , 1488px 1671px #FFF , 1919px 801px #FFF , 1271px 952px #FFF , 867px 98px #FFF , 1986px 513px #FFF , 1367px 1302px #FFF , 459px 868px #FFF , 253px 990px #FFF , 1147px 1565px #FFF , 1052px 1752px #FFF , 1920px 1055px #FFF , 1470px 1440px #FFF , 1232px 921px #FFF , 880px 675px #FFF , 822px 270px #FFF , 1324px 602px #FFF , 372px 1398px #FFF , 1278px 1929px #FFF , 481px 567px #FFF , 231px 1304px #FFF , 1640px 947px #FFF , 644px 1441px #FFF , 1648px 425px #FFF , 656px 618px #FFF , 1141px 461px #FFF , 127px 349px #FFF , 1156px 960px #FFF , 43px 308px #FFF , 226px 1659px #FFF , 1566px 788px #FFF , 502px 231px #FFF , 1279px 1276px #FFF , 1682px 1231px #FFF , 727px 522px #FFF , 125px 526px #FFF , 421px 449px #FFF , 1086px 1517px #FFF , 1153px 453px #FFF , 371px 542px #FFF , 1209px 449px #FFF , 1872px 1483px #FFF , 346px 330px #FFF , 957px 2000px #FFF , 1334px 686px #FFF , 1184px 11px #FFF , 1809px 237px #FFF , 265px 1747px #FFF , 1746px 430px #FFF , 712px 218px #FFF , 915px 322px #FFF , 273px 1272px #FFF , 1342px 1162px #FFF , 1397px 1794px #FFF , 1803px 1881px #FFF , 1954px 881px #FFF , 211px 1297px #FFF , 333px 642px #FFF , 1212px 904px #FFF , 1361px 60px #FFF , 1965px 154px #FFF , 802px 1800px #FFF , 1029px 189px #FFF , 659px 1173px #FFF , 894px 1390px #FFF , 769px 535px #FFF , 1074px 1251px #FFF , 180px 700px #FFF , 1478px 1697px #FFF , 1945px 1242px #FFF , 1064px 801px #FFF , 820px 1047px #FFF , 1829px 1366px #FFF , 1729px 833px #FFF , 648px 224px #FFF , 822px 1420px #FFF , 854px 345px #FFF , 1005px 555px #FFF , 20px 1891px #FFF , 874px 1024px #FFF , 1925px 1533px #FFF , 641px 1200px #FFF , 1196px 749px #FFF , 145px 86px #FFF , 738px 51px #FFF , 1598px 317px #FFF , 453px 1203px #FFF , 984px 1020px #FFF , 200px 1904px #FFF , 328px 1102px #FFF , 1578px 1266px #FFF , 457px 1625px #FFF , 615px 1034px #FFF , 401px 687px #FFF , 13px 54px #FFF , 775px 1145px #FFF , 192px 163px #FFF , 1698px 1789px #FFF , 1434px 532px #FFF , 1212px 1650px #FFF , 1135px 1974px #FFF , 1375px 588px #FFF , 555px 798px #FFF , 1469px 1829px #FFF , 948px 1713px #FFF , 1280px 312px #FFF , 950px 849px #FFF , 591px 696px #FFF , 887px 1107px #FFF , 729px 1001px #FFF , 110px 1313px #FFF , 324px 1145px #FFF , 1079px 499px #FFF , 1663px 361px #FFF , 1428px 233px #FFF , 1849px 532px #FFF , 304px 1188px #FFF , 578px 1005px #FFF , 586px 844px #FFF , 723px 1757px #FFF , 1083px 1707px #FFF , 828px 1043px #FFF , 1426px 1181px #FFF , 1806px 1206px #FFF , 1267px 1201px #FFF , 1471px 1860px #FFF , 1245px 302px #FFF , 80px 1717px #FFF , 604px 848px #FFF , 694px 1613px #FFF , 160px 1868px #FFF , 1195px 49px #FFF , 1136px 286px #FFF , 1729px 1645px #FFF , 461px 717px #FFF , 940px 297px #FFF , 544px 1981px #FFF , 1668px 1935px #FFF , 1446px 1429px #FFF , 1724px 1855px #FFF , 1359px 275px #FFF , 752px 919px #FFF , 497px 1276px #FFF , 151px 1157px #FFF , 1870px 355px #FFF , 891px 982px #FFF , 1237px 1494px #FFF , 1208px 1563px #FFF , 963px 1305px #FFF , 708px 1397px #FFF , 1462px 712px #FFF , 772px 1359px #FFF , 557px 1165px #FFF , 1022px 1297px #FFF , 143px 341px #FFF , 1687px 686px #FFF , 1278px 1370px #FFF , 539px 246px #FFF , 1396px 1240px #FFF , 1840px 1357px #FFF , 1050px 1497px #FFF , 756px 1001px #FFF , 449px 853px #FFF , 88px 1661px #FFF , 889px 1106px #FFF , 444px 321px #FFF , 893px 1932px #FFF , 1158px 469px #FFF , 857px 532px #FFF , 626px 1111px #FFF , 65px 1965px #FFF , 487px 1798px #FFF , 577px 798px #FFF , 214px 1189px #FFF , 1757px 995px #FFF , 1097px 1221px #FFF , 887px 467px #FFF , 1746px 760px #FFF , 1337px 1268px #FFF , 627px 1571px #FFF , 1280px 1601px #FFF , 524px 115px #FFF , 1222px 953px #FFF , 80px 1031px #FFF , 1418px 144px #FFF , 147px 1924px #FFF , 1417px 799px #FFF , 1016px 320px #FFF , 554px 848px #FFF , 76px 1639px #FFF , 1687px 386px #FFF , 39px 1938px #FFF , 1571px 1373px #FFF , 653px 1779px #FFF , 852px 403px #FFF , 1559px 743px #FFF , 1064px 989px #FFF , 766px 1146px #FFF , 42px 1873px #FFF , 803px 447px #FFF , 1582px 206px #FFF , 382px 550px #FFF , 300px 595px #FFF , 1016px 1827px #FFF , 443px 627px #FFF , 76px 188px #FFF , 1835px 1771px #FFF , 1967px 226px #FFF , 1878px 1100px #FFF , 738px 142px #FFF , 76px 691px #FFF , 590px 1376px #FFF , 332px 194px #FFF , 805px 733px #FFF , 1892px 1831px #FFF , 1873px 1019px #FFF , 1353px 321px #FFF , 1890px 109px #FFF , 495px 859px #FFF , 1552px 1743px #FFF , 1801px 1144px #FFF , 1797px 596px #FFF , 1454px 1904px #FFF , 1475px 450px #FFF , 1009px 1224px #FFF , 29px 581px #FFF , 3px 183px #FFF , 1591px 185px #FFF , 1986px 160px #FFF , 627px 491px #FFF , 596px 1652px #FFF , 489px 1435px #FFF , 814px 992px #FFF , 520px 907px #FFF , 1816px 1429px #FFF , 67px 1313px #FFF , 72px 1445px #FFF , 1769px 1953px #FFF , 1076px 887px #FFF , 757px 945px #FFF , 1579px 1234px #FFF , 373px 1073px #FFF , 95px 103px #FFF , 313px 1287px #FFF , 793px 876px #FFF , 808px 715px #FFF , 1661px 1751px #FFF , 1997px 47px #FFF , 365px 1588px #FFF , 500px 1791px #FFF , 1123px 1592px #FFF , 1263px 51px #FFF , 434px 1838px #FFF , 270px 1694px #FFF , 1194px 1974px #FFF , 166px 555px #FFF , 896px 552px #FFF , 1277px 530px #FFF , 800px 544px #FFF , 668px 1292px #FFF , 342px 467px #FFF , 1653px 1552px #FFF , 1115px 790px #FFF , 61px 1235px #FFF , 766px 1292px #FFF , 1907px 1818px #FFF , 1697px 1125px #FFF , 959px 1374px #FFF , 1495px 457px #FFF , 1120px 173px #FFF , 1695px 1134px #FFF , 925px 914px #FFF , 816px 1323px #FFF , 402px 180px #FFF , 1068px 1939px #FFF , 1124px 1414px #FFF , 98px 318px #FFF , 864px 219px #FFF , 1803px 1087px #FFF , 1597px 384px #FFF , 1145px 244px #FFF , 459px 688px #FFF , 567px 1763px #FFF , 1709px 1693px #FFF , 357px 1287px #FFF , 1505px 1049px #FFF , 1498px 1152px #FFF , 615px 165px #FFF , 909px 405px #FFF , 1762px 1010px #FFF , 304px 888px #FFF , 452px 1001px #FFF , 1633px 282px #FFF , 1900px 1523px #FFF , 1641px 455px #FFF , 662px 1657px #FFF , 12px 156px #FFF , 1766px 593px #FFF , 713px 996px #FFF , 242px 712px #FFF , 1574px 974px #FFF , 1033px 1299px #FFF , 550px 1065px #FFF , 873px 1722px #FFF , 150px 144px #FFF , 1760px 464px #FFF , 1862px 183px #FFF , 1637px 1850px #FFF , 898px 392px #FFF , 1186px 1160px #FFF , 808px 1492px #FFF , 1762px 1530px #FFF , 935px 1878px #FFF , 1502px 503px #FFF , 1125px 1365px #FFF , 581px 1394px #FFF , 1735px 866px #FFF , 293px 1479px #FFF , 421px 247px #FFF , 371px 1888px #FFF , 731px 1864px #FFF , 1264px 411px #FFF , 553px 1253px #FFF , 1077px 1207px #FFF , 1579px 209px #FFF , 1905px 166px #FFF , 1595px 1668px #FFF , 1543px 1696px #FFF , 728px 1513px #FFF , 58px 1877px #FFF , 1807px 1148px #FFF , 388px 225px #FFF , 1469px 1828px #FFF , 215px 1221px #FFF , 60px 473px #FFF , 1456px 1424px #FFF , 713px 694px #FFF , 12px 585px #FFF , 1296px 815px #FFF , 1457px 1442px #FFF , 969px 1590px #FFF , 318px 383px #FFF , 1463px 122px #FFF , 21px 757px #FFF , 531px 1657px #FFF , 191px 150px #FFF , 1797px 1260px #FFF , 754px 185px #FFF , 700px 1884px #FFF , 1726px 254px #FFF , 1589px 776px #FFF , 532px 1007px #FFF , 1444px 435px #FFF , 825px 1027px #FFF , 1621px 1201px #FFF , 961px 785px #FFF , 1037px 283px #FFF , 525px 302px #FFF , 248px 1539px #FFF , 1072px 1491px #FFF , 344px 1441px #FFF , 763px 1728px #FFF , 1176px 1979px #FFF , 1276px 569px #FFF , 1697px 528px #FFF , 979px 334px #FFF , 1189px 716px #FFF , 1555px 517px #FFF , 511px 1804px #FFF , 143px 1646px #FFF , 685px 896px #FFF , 460px 1172px #FFF , 1601px 953px #FFF , 392px 283px #FFF , 389px 274px #FFF , 1521px 1627px #FFF , 182px 1044px #FFF , 1199px 124px #FFF , 845px 140px #FFF , 822px 106px #FFF , 1045px 568px #FFF , 1887px 1376px #FFF , 3px 1467px #FFF , 440px 622px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 899px 306px #FFF , 660px 868px #FFF , 156px 15px #FFF , 55px 113px #FFF , 1376px 675px #FFF , 1622px 1067px #FFF , 789px 562px #FFF , 1931px 1555px #FFF , 779px 611px #FFF , 503px 823px #FFF , 1313px 997px #FFF , 1846px 1901px #FFF , 1584px 1849px #FFF , 90px 1244px #FFF , 429px 1530px #FFF , 403px 350px #FFF , 1378px 762px #FFF , 579px 1211px #FFF , 966px 1606px #FFF , 1230px 391px #FFF , 1169px 1638px #FFF , 1187px 1841px #FFF , 139px 249px #FFF , 630px 1177px #FFF , 188px 1238px #FFF , 1293px 1783px #FFF , 543px 921px #FFF , 509px 1866px #FFF , 1836px 1212px #FFF , 886px 386px #FFF , 1211px 645px #FFF , 1847px 1488px #FFF , 1359px 121px #FFF , 486px 1706px #FFF , 712px 969px #FFF , 403px 1647px #FFF , 1876px 1641px #FFF , 1052px 1691px #FFF , 196px 1697px #FFF , 1288px 1396px #FFF , 94px 1702px #FFF , 1336px 1653px #FFF , 37px 687px #FFF , 1794px 416px #FFF , 291px 1295px #FFF , 1654px 1174px #FFF , 627px 1629px #FFF , 644px 542px #FFF , 1128px 381px #FFF , 855px 1870px #FFF , 646px 1991px #FFF , 1708px 1371px #FFF , 770px 938px #FFF , 102px 575px #FFF , 1773px 451px #FFF , 1698px 720px #FFF , 36px 924px #FFF , 909px 815px #FFF , 572px 1888px #FFF , 219px 1023px #FFF , 713px 495px #FFF , 1447px 428px #FFF , 461px 319px #FFF , 951px 1873px #FFF , 781px 261px #FFF , 585px 115px #FFF , 1379px 1021px #FFF , 646px 627px #FFF , 1786px 145px #FFF , 65px 1296px #FFF , 213px 635px #FFF , 951px 1865px #FFF , 740px 987px #FFF , 439px 330px #FFF , 1097px 331px #FFF , 1633px 1481px #FFF , 463px 1148px #FFF , 303px 1342px #FFF , 722px 1152px #FFF , 694px 1159px #FFF , 311px 57px #FFF , 1539px 32px #FFF , 1751px 179px #FFF , 1827px 1779px #FFF , 1044px 1653px #FFF , 1501px 1937px #FFF , 1662px 543px #FFF , 465px 1108px #FFF , 651px 1552px #FFF , 1484px 1143px #FFF , 1664px 651px #FFF , 1018px 1832px #FFF , 890px 817px #FFF , 1876px 305px #FFF , 736px 1811px #FFF , 400px 565px #FFF , 1409px 1831px #FFF , 1047px 1441px #FFF , 325px 1544px #FFF , 598px 1248px #FFF , 1745px 1479px #FFF , 1815px 191px #FFF , 560px 1961px #FFF , 1502px 258px #FFF , 819px 110px #FFF , 408px 1778px #FFF , 1792px 795px #FFF , 768px 465px #FFF , 448px 1205px #FFF , 734px 697px #FFF , 884px 1183px #FFF , 1695px 1836px #FFF , 1161px 1381px #FFF , 148px 1218px #FFF , 416px 1903px #FFF , 1700px 1628px #FFF , 1254px 1581px #FFF , 257px 1127px #FFF , 797px 1304px #FFF , 778px 628px #FFF , 45px 713px #FFF , 1539px 280px #FFF , 1327px 1795px #FFF , 1202px 220px #FFF , 1717px 86px #FFF , 1501px 292px #FFF , 1157px 177px #FFF , 1497px 877px #FFF , 792px 93px #FFF , 1135px 866px #FFF , 409px 557px #FFF , 235px 447px #FFF , 494px 1705px #FFF , 1459px 1041px #FFF , 1612px 1689px #FFF , 1997px 1502px #FFF , 1251px 802px #FFF , 436px 191px #FFF , 314px 941px #FFF , 76px 1667px #FFF , 50px 997px #FFF , 333px 994px #FFF , 1772px 562px #FFF , 175px 1222px #FFF , 572px 1582px #FFF , 1171px 227px #FFF , 1858px 209px #FFF , 1703px 1176px #FFF , 303px 640px #FFF , 1435px 137px #FFF , 21px 1395px #FFF , 1696px 1907px #FFF , 185px 787px #FFF , 1118px 85px #FFF , 790px 732px #FFF , 1757px 469px #FFF , 1122px 1864px #FFF , 1095px 1401px #FFF , 1524px 1769px #FFF , 1116px 1172px #FFF , 1634px 511px #FFF , 646px 1177px #FFF , 1462px 1142px #FFF , 514px 1129px #FFF , 44px 149px #FFF , 1708px 588px #FFF , 1254px 1072px #FFF , 805px 1194px #FFF , 1084px 1940px #FFF , 645px 1003px #FFF , 1783px 1230px #FFF , 202px 222px #FFF , 111px 1524px #FFF , 466px 1296px #FFF , 1930px 1860px #FFF , 162px 1469px #FFF , 680px 1897px #FFF , 1336px 306px #FFF , 1080px 1861px #FFF , 1401px 1705px #FFF , 1256px 1526px #FFF , 1164px 663px #FFF , 1684px 1773px #FFF , 868px 261px #FFF , 76px 1977px #FFF , 957px 1920px #FFF , 470px 485px #FFF , 1966px 1965px #FFF , 882px 1009px #FFF , 397px 1806px #FFF , 1094px 1143px #FFF , 1328px 1624px #FFF , 817px 211px #FFF , 1190px 1264px #FFF , 700px 1392px #FFF , 1580px 325px #FFF , 566px 189px #FFF , 477px 440px #FFF , 273px 1787px #FFF , 1689px 1174px #FFF , 1861px 1949px #FFF , 799px 1305px #FFF , 88px 121px #FFF , 1544px 1539px #FFF , 292px 1360px #FFF , 1190px 1298px #FFF , 1791px 414px #FFF , 1471px 635px #FFF , 1978px 1323px #FFF , 121px 925px #FFF , 947px 1934px #FFF , 392px 1103px #FFF , 670px 196px #FFF , 1329px 1063px #FFF , 1106px 720px #FFF , 752px 1092px #FFF , 636px 421px #FFF , 1737px 1635px #FFF , 1317px 1028px #FFF , 45px 1115px #FFF , 204px 1096px #FFF , 391px 1750px #FFF , 1147px 1696px #FFF , 370px 705px #FFF , 1962px 55px #FFF , 1644px 829px #FFF , 1111px 181px #FFF , 1667px 1380px #FFF , 1957px 1163px #FFF , 779px 156px #FFF , 38px 307px #FFF , 1282px 264px #FFF , 48px 1691px #FFF , 332px 1435px #FFF , 1919px 1157px #FFF , 668px 965px #FFF , 152px 685px #FFF , 1854px 1169px #FFF , 1366px 637px #FFF , 620px 163px #FFF , 1932px 1567px #FFF , 1788px 1992px #FFF , 1735px 1653px #FFF , 1094px 1573px #FFF , 1604px 1748px #FFF , 1801px 570px #FFF , 671px 1736px #FFF , 1654px 81px #FFF , 326px 1925px #FFF , 1264px 1370px #FFF , 1382px 1204px #FFF , 506px 1339px #FFF , 346px 991px #FFF , 615px 183px #FFF , 657px 1689px #FFF , 813px 898px #FFF , 1455px 1720px #FFF , 1565px 545px #FFF , 1432px 1823px #FFF , 1625px 1496px #FFF , 1871px 701px #FFF , 804px 423px #FFF , 1646px 887px #FFF , 706px 1755px #FFF , 1546px 1381px #FFF , 1350px 1971px #FFF , 1966px 1349px #FFF , 1200px 858px #FFF , 1174px 1994px #FFF , 41px 1730px #FFF , 1757px 1197px #FFF , 526px 1564px #FFF , 935px 1943px #FFF , 1788px 951px #FFF , 810px 1604px #FFF , 674px 1364px #FFF , 1721px 505px #FFF , 848px 610px #FFF , 1068px 1716px #FFF , 728px 725px #FFF , 1770px 118px #FFF , 205px 1059px #FFF , 1131px 1239px #FFF , 1719px 1760px #FFF , 1444px 449px #FFF , 1264px 816px #FFF , 1107px 697px #FFF , 1772px 1899px #FFF , 1134px 954px #FFF , 1542px 1607px #FFF , 1597px 334px #FFF , 1118px 1963px #FFF , 910px 13px #FFF , 646px 1654px #FFF , 1167px 1995px #FFF , 244px 571px #FFF , 1914px 1376px #FFF , 1438px 94px #FFF , 1277px 1408px #FFF , 1926px 907px #FFF , 212px 1180px #FFF , 1637px 241px #FFF , 1059px 351px #FFF , 1849px 1820px #FFF , 68px 1760px #FFF , 1736px 606px #FFF , 926px 155px #FFF , 1046px 1818px #FFF , 1164px 1028px #FFF , 1097px 818px #FFF , 1849px 1478px #FFF , 861px 1865px #FFF , 1062px 806px #FFF , 1952px 502px #FFF , 1327px 33px #FFF , 1907px 86px #FFF , 1777px 1873px #FFF , 1488px 1671px #FFF , 1919px 801px #FFF , 1271px 952px #FFF , 867px 98px #FFF , 1986px 513px #FFF , 1367px 1302px #FFF , 459px 868px #FFF , 253px 990px #FFF , 1147px 1565px #FFF , 1052px 1752px #FFF , 1920px 1055px #FFF , 1470px 1440px #FFF , 1232px 921px #FFF , 880px 675px #FFF , 822px 270px #FFF , 1324px 602px #FFF , 372px 1398px #FFF , 1278px 1929px #FFF , 481px 567px #FFF , 231px 1304px #FFF , 1640px 947px #FFF , 644px 1441px #FFF , 1648px 425px #FFF , 656px 618px #FFF , 1141px 461px #FFF , 127px 349px #FFF , 1156px 960px #FFF , 43px 308px #FFF , 226px 1659px #FFF , 1566px 788px #FFF , 502px 231px #FFF , 1279px 1276px #FFF , 1682px 1231px #FFF , 727px 522px #FFF , 125px 526px #FFF , 421px 449px #FFF , 1086px 1517px #FFF , 1153px 453px #FFF , 371px 542px #FFF , 1209px 449px #FFF , 1872px 1483px #FFF , 346px 330px #FFF , 957px 2000px #FFF , 1334px 686px #FFF , 1184px 11px #FFF , 1809px 237px #FFF , 265px 1747px #FFF , 1746px 430px #FFF , 712px 218px #FFF , 915px 322px #FFF , 273px 1272px #FFF , 1342px 1162px #FFF , 1397px 1794px #FFF , 1803px 1881px #FFF , 1954px 881px #FFF , 211px 1297px #FFF , 333px 642px #FFF , 1212px 904px #FFF , 1361px 60px #FFF , 1965px 154px #FFF , 802px 1800px #FFF , 1029px 189px #FFF , 659px 1173px #FFF , 894px 1390px #FFF , 769px 535px #FFF , 1074px 1251px #FFF , 180px 700px #FFF , 1478px 1697px #FFF , 1945px 1242px #FFF , 1064px 801px #FFF , 820px 1047px #FFF , 1829px 1366px #FFF , 1729px 833px #FFF , 648px 224px #FFF , 822px 1420px #FFF , 854px 345px #FFF , 1005px 555px #FFF , 20px 1891px #FFF , 874px 1024px #FFF , 1925px 1533px #FFF , 641px 1200px #FFF , 1196px 749px #FFF , 145px 86px #FFF , 738px 51px #FFF , 1598px 317px #FFF , 453px 1203px #FFF , 984px 1020px #FFF , 200px 1904px #FFF , 328px 1102px #FFF , 1578px 1266px #FFF , 457px 1625px #FFF , 615px 1034px #FFF , 401px 687px #FFF , 13px 54px #FFF , 775px 1145px #FFF , 192px 163px #FFF , 1698px 1789px #FFF , 1434px 532px #FFF , 1212px 1650px #FFF , 1135px 1974px #FFF , 1375px 588px #FFF , 555px 798px #FFF , 1469px 1829px #FFF , 948px 1713px #FFF , 1280px 312px #FFF , 950px 849px #FFF , 591px 696px #FFF , 887px 1107px #FFF , 729px 1001px #FFF , 110px 1313px #FFF , 324px 1145px #FFF , 1079px 499px #FFF , 1663px 361px #FFF , 1428px 233px #FFF , 1849px 532px #FFF , 304px 1188px #FFF , 578px 1005px #FFF , 586px 844px #FFF , 723px 1757px #FFF , 1083px 1707px #FFF , 828px 1043px #FFF , 1426px 1181px #FFF , 1806px 1206px #FFF , 1267px 1201px #FFF , 1471px 1860px #FFF , 1245px 302px #FFF , 80px 1717px #FFF , 604px 848px #FFF , 694px 1613px #FFF , 160px 1868px #FFF , 1195px 49px #FFF , 1136px 286px #FFF , 1729px 1645px #FFF , 461px 717px #FFF , 940px 297px #FFF , 544px 1981px #FFF , 1668px 1935px #FFF , 1446px 1429px #FFF , 1724px 1855px #FFF , 1359px 275px #FFF , 752px 919px #FFF , 497px 1276px #FFF , 151px 1157px #FFF , 1870px 355px #FFF , 891px 982px #FFF , 1237px 1494px #FFF , 1208px 1563px #FFF , 963px 1305px #FFF , 708px 1397px #FFF , 1462px 712px #FFF , 772px 1359px #FFF , 557px 1165px #FFF , 1022px 1297px #FFF , 143px 341px #FFF , 1687px 686px #FFF , 1278px 1370px #FFF , 539px 246px #FFF , 1396px 1240px #FFF , 1840px 1357px #FFF , 1050px 1497px #FFF , 756px 1001px #FFF , 449px 853px #FFF , 88px 1661px #FFF , 889px 1106px #FFF , 444px 321px #FFF , 893px 1932px #FFF , 1158px 469px #FFF , 857px 532px #FFF , 626px 1111px #FFF , 65px 1965px #FFF , 487px 1798px #FFF , 577px 798px #FFF , 214px 1189px #FFF , 1757px 995px #FFF , 1097px 1221px #FFF , 887px 467px #FFF , 1746px 760px #FFF , 1337px 1268px #FFF , 627px 1571px #FFF , 1280px 1601px #FFF , 524px 115px #FFF , 1222px 953px #FFF , 80px 1031px #FFF , 1418px 144px #FFF , 147px 1924px #FFF , 1417px 799px #FFF , 1016px 320px #FFF , 554px 848px #FFF , 76px 1639px #FFF , 1687px 386px #FFF , 39px 1938px #FFF , 1571px 1373px #FFF , 653px 1779px #FFF , 852px 403px #FFF , 1559px 743px #FFF , 1064px 989px #FFF , 766px 1146px #FFF , 42px 1873px #FFF , 803px 447px #FFF , 1582px 206px #FFF , 382px 550px #FFF , 300px 595px #FFF , 1016px 1827px #FFF , 443px 627px #FFF , 76px 188px #FFF , 1835px 1771px #FFF , 1967px 226px #FFF , 1878px 1100px #FFF , 738px 142px #FFF , 76px 691px #FFF , 590px 1376px #FFF , 332px 194px #FFF , 805px 733px #FFF , 1892px 1831px #FFF , 1873px 1019px #FFF , 1353px 321px #FFF , 1890px 109px #FFF , 495px 859px #FFF , 1552px 1743px #FFF , 1801px 1144px #FFF , 1797px 596px #FFF , 1454px 1904px #FFF , 1475px 450px #FFF , 1009px 1224px #FFF , 29px 581px #FFF , 3px 183px #FFF , 1591px 185px #FFF , 1986px 160px #FFF , 627px 491px #FFF , 596px 1652px #FFF , 489px 1435px #FFF , 814px 992px #FFF , 520px 907px #FFF , 1816px 1429px #FFF , 67px 1313px #FFF , 72px 1445px #FFF , 1769px 1953px #FFF , 1076px 887px #FFF , 757px 945px #FFF , 1579px 1234px #FFF , 373px 1073px #FFF , 95px 103px #FFF , 313px 1287px #FFF , 793px 876px #FFF , 808px 715px #FFF , 1661px 1751px #FFF , 1997px 47px #FFF , 365px 1588px #FFF , 500px 1791px #FFF , 1123px 1592px #FFF , 1263px 51px #FFF , 434px 1838px #FFF , 270px 1694px #FFF , 1194px 1974px #FFF , 166px 555px #FFF , 896px 552px #FFF , 1277px 530px #FFF , 800px 544px #FFF , 668px 1292px #FFF , 342px 467px #FFF , 1653px 1552px #FFF , 1115px 790px #FFF , 61px 1235px #FFF , 766px 1292px #FFF , 1907px 1818px #FFF , 1697px 1125px #FFF , 959px 1374px #FFF , 1495px 457px #FFF , 1120px 173px #FFF , 1695px 1134px #FFF , 925px 914px #FFF , 816px 1323px #FFF , 402px 180px #FFF , 1068px 1939px #FFF , 1124px 1414px #FFF , 98px 318px #FFF , 864px 219px #FFF , 1803px 1087px #FFF , 1597px 384px #FFF , 1145px 244px #FFF , 459px 688px #FFF , 567px 1763px #FFF , 1709px 1693px #FFF , 357px 1287px #FFF , 1505px 1049px #FFF , 1498px 1152px #FFF , 615px 165px #FFF , 909px 405px #FFF , 1762px 1010px #FFF , 304px 888px #FFF , 452px 1001px #FFF , 1633px 282px #FFF , 1900px 1523px #FFF , 1641px 455px #FFF , 662px 1657px #FFF , 12px 156px #FFF , 1766px 593px #FFF , 713px 996px #FFF , 242px 712px #FFF , 1574px 974px #FFF , 1033px 1299px #FFF , 550px 1065px #FFF , 873px 1722px #FFF , 150px 144px #FFF , 1760px 464px #FFF , 1862px 183px #FFF , 1637px 1850px #FFF , 898px 392px #FFF , 1186px 1160px #FFF , 808px 1492px #FFF , 1762px 1530px #FFF , 935px 1878px #FFF , 1502px 503px #FFF , 1125px 1365px #FFF , 581px 1394px #FFF , 1735px 866px #FFF , 293px 1479px #FFF , 421px 247px #FFF , 371px 1888px #FFF , 731px 1864px #FFF , 1264px 411px #FFF , 553px 1253px #FFF , 1077px 1207px #FFF , 1579px 209px #FFF , 1905px 166px #FFF , 1595px 1668px #FFF , 1543px 1696px #FFF , 728px 1513px #FFF , 58px 1877px #FFF , 1807px 1148px #FFF , 388px 225px #FFF , 1469px 1828px #FFF , 215px 1221px #FFF , 60px 473px #FFF , 1456px 1424px #FFF , 713px 694px #FFF , 12px 585px #FFF , 1296px 815px #FFF , 1457px 1442px #FFF , 969px 1590px #FFF , 318px 383px #FFF , 1463px 122px #FFF , 21px 757px #FFF , 531px 1657px #FFF , 191px 150px #FFF , 1797px 1260px #FFF , 754px 185px #FFF , 700px 1884px #FFF , 1726px 254px #FFF , 1589px 776px #FFF , 532px 1007px #FFF , 1444px 435px #FFF , 825px 1027px #FFF , 1621px 1201px #FFF , 961px 785px #FFF , 1037px 283px #FFF , 525px 302px #FFF , 248px 1539px #FFF , 1072px 1491px #FFF , 344px 1441px #FFF , 763px 1728px #FFF , 1176px 1979px #FFF , 1276px 569px #FFF , 1697px 528px #FFF , 979px 334px #FFF , 1189px 716px #FFF , 1555px 517px #FFF , 511px 1804px #FFF , 143px 1646px #FFF , 685px 896px #FFF , 460px 1172px #FFF , 1601px 953px #FFF , 392px 283px #FFF , 389px 274px #FFF , 1521px 1627px #FFF , 182px 1044px #FFF , 1199px 124px #FFF , 845px 140px #FFF , 822px 106px #FFF , 1045px 568px #FFF , 1887px 1376px #FFF , 3px 1467px #FFF , 440px 622px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1398px 400px #FFF , 307px 261px #FFF , 1506px 390px #FFF , 844px 380px #FFF , 1009px 689px #FFF , 720px 1148px #FFF , 256px 521px #FFF , 1293px 700px #FFF , 1483px 388px #FFF , 540px 1432px #FFF , 501px 1330px #FFF , 587px 1038px #FFF , 502px 1170px #FFF , 114px 1418px #FFF , 539px 1619px #FFF , 395px 171px #FFF , 1174px 652px #FFF , 1690px 738px #FFF , 1333px 741px #FFF , 91px 693px #FFF , 273px 1105px #FFF , 1034px 845px #FFF , 446px 1004px #FFF , 219px 932px #FFF , 237px 885px #FFF , 1217px 1975px #FFF , 188px 622px #FFF , 1739px 1524px #FFF , 1013px 1266px #FFF , 1425px 1608px #FFF , 898px 1709px #FFF , 1358px 753px #FFF , 1576px 1159px #FFF , 254px 1094px #FFF , 26px 915px #FFF , 1789px 1612px #FFF , 224px 1356px #FFF , 1113px 1816px #FFF , 268px 248px #FFF , 1982px 408px #FFF , 8px 1408px #FFF , 1692px 1848px #FFF , 868px 1838px #FFF , 2px 595px #FFF , 1964px 1817px #FFF , 270px 1036px #FFF , 371px 741px #FFF , 1200px 1207px #FFF , 1459px 1518px #FFF , 712px 1755px #FFF , 1116px 1237px #FFF , 340px 878px #FFF , 697px 1334px #FFF , 1809px 1778px #FFF , 873px 126px #FFF , 135px 30px #FFF , 22px 39px #FFF , 474px 646px #FFF , 1165px 823px #FFF , 1661px 638px #FFF , 1394px 1558px #FFF , 302px 975px #FFF , 1008px 1625px #FFF , 36px 1354px #FFF , 250px 805px #FFF , 928px 941px #FFF , 1914px 1858px #FFF , 1002px 591px #FFF , 915px 1135px #FFF , 50px 923px #FFF , 1697px 104px #FFF , 1746px 1761px #FFF , 1870px 162px #FFF , 784px 593px #FFF , 1254px 623px #FFF , 1385px 1551px #FFF , 1128px 1048px #FFF , 1009px 1019px #FFF , 1200px 416px #FFF , 116px 1094px #FFF , 95px 200px #FFF , 1692px 1899px #FFF , 243px 1796px #FFF , 535px 1897px #FFF , 239px 604px #FFF , 1443px 1603px #FFF , 526px 1961px #FFF , 309px 1720px #FFF , 974px 1840px #FFF , 175px 579px #FFF , 1531px 1433px #FFF , 468px 173px #FFF , 155px 1675px #FFF , 1586px 52px #FFF , 1818px 1197px #FFF , 1938px 692px #FFF , 1469px 1200px #FFF , 859px 1352px #FFF , 3px 308px #FFF , 1455px 201px #FFF , 874px 902px #FFF , 386px 207px #FFF , 299px 202px #FFF , 1802px 637px #FFF , 1574px 1319px #FFF , 306px 559px #FFF , 329px 1979px #FFF , 1147px 477px #FFF , 1970px 186px #FFF , 1693px 1873px #FFF , 1109px 940px #FFF , 1353px 346px #FFF , 1525px 307px #FFF , 149px 19px #FFF , 826px 487px #FFF , 1359px 1449px #FFF , 713px 1163px #FFF , 251px 1019px #FFF , 232px 1677px #FFF , 660px 167px #FFF , 1142px 1750px #FFF , 959px 239px #FFF , 1083px 66px #FFF , 1073px 1053px #FFF , 850px 1021px #FFF , 1804px 551px #FFF , 713px 424px #FFF , 233px 217px #FFF , 1071px 1354px #FFF , 453px 887px #FFF , 293px 1583px #FFF , 1098px 1465px #FFF , 289px 146px #FFF , 80px 1993px #FFF , 1607px 884px #FFF , 1653px 1155px #FFF , 1351px 1586px #FFF , 155px 1399px #FFF , 1720px 1313px #FFF , 42px 352px #FFF , 1592px 1205px #FFF , 724px 1450px #FFF , 1427px 1779px #FFF , 924px 1257px #FFF , 18px 1436px #FFF , 1008px 159px #FFF , 1176px 759px #FFF , 1108px 1622px #FFF , 263px 948px #FFF , 139px 731px #FFF , 703px 1257px #FFF , 1047px 311px #FFF , 1616px 1345px #FFF , 256px 274px #FFF , 516px 1841px #FFF , 256px 398px #FFF , 1532px 85px #FFF , 1027px 1860px #FFF , 33px 1473px #FFF , 1828px 722px #FFF , 1487px 1636px #FFF , 1597px 1011px #FFF , 1735px 1471px #FFF , 1417px 25px #FFF , 1301px 344px #FFF , 1598px 1315px #FFF , 1870px 577px #FFF , 777px 384px #FFF , 1573px 143px #FFF , 1495px 311px #FFF , 352px 1782px #FFF , 1352px 1525px #FFF , 505px 1171px #FFF , 1247px 883px #FFF , 1150px 1313px #FFF , 1860px 940px #FFF , 1579px 1531px #FFF , 937px 1804px #FFF , 855px 825px #FFF , 1368px 397px #FFF , 171px 103px #FFF , 1825px 1515px #FFF , 1374px 1213px #FFF , 1409px 349px #FFF , 1895px 844px #FFF , 284px 1035px #FFF , 1707px 893px #FFF , 146px 1737px #FFF , 657px 1409px #FFF , 772px 654px #FFF , 1203px 587px #FFF , 124px 1721px #FFF , 645px 1095px #FFF , 973px 1371px #FFF , 496px 1467px #FFF , 376px 1069px #FFF , 333px 266px #FFF , 1751px 1831px #FFF , 1122px 1994px #FFF , 192px 1855px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1398px 400px #FFF , 307px 261px #FFF , 1506px 390px #FFF , 844px 380px #FFF , 1009px 689px #FFF , 720px 1148px #FFF , 256px 521px #FFF , 1293px 700px #FFF , 1483px 388px #FFF , 540px 1432px #FFF , 501px 1330px #FFF , 587px 1038px #FFF , 502px 1170px #FFF , 114px 1418px #FFF , 539px 1619px #FFF , 395px 171px #FFF , 1174px 652px #FFF , 1690px 738px #FFF , 1333px 741px #FFF , 91px 693px #FFF , 273px 1105px #FFF , 1034px 845px #FFF , 446px 1004px #FFF , 219px 932px #FFF , 237px 885px #FFF , 1217px 1975px #FFF , 188px 622px #FFF , 1739px 1524px #FFF , 1013px 1266px #FFF , 1425px 1608px #FFF , 898px 1709px #FFF , 1358px 753px #FFF , 1576px 1159px #FFF , 254px 1094px #FFF , 26px 915px #FFF , 1789px 1612px #FFF , 224px 1356px #FFF , 1113px 1816px #FFF , 268px 248px #FFF , 1982px 408px #FFF , 8px 1408px #FFF , 1692px 1848px #FFF , 868px 1838px #FFF , 2px 595px #FFF , 1964px 1817px #FFF , 270px 1036px #FFF , 371px 741px #FFF , 1200px 1207px #FFF , 1459px 1518px #FFF , 712px 1755px #FFF , 1116px 1237px #FFF , 340px 878px #FFF , 697px 1334px #FFF , 1809px 1778px #FFF , 873px 126px #FFF , 135px 30px #FFF , 22px 39px #FFF , 474px 646px #FFF , 1165px 823px #FFF , 1661px 638px #FFF , 1394px 1558px #FFF , 302px 975px #FFF , 1008px 1625px #FFF , 36px 1354px #FFF , 250px 805px #FFF , 928px 941px #FFF , 1914px 1858px #FFF , 1002px 591px #FFF , 915px 1135px #FFF , 50px 923px #FFF , 1697px 104px #FFF , 1746px 1761px #FFF , 1870px 162px #FFF , 784px 593px #FFF , 1254px 623px #FFF , 1385px 1551px #FFF , 1128px 1048px #FFF , 1009px 1019px #FFF , 1200px 416px #FFF , 116px 1094px #FFF , 95px 200px #FFF , 1692px 1899px #FFF , 243px 1796px #FFF , 535px 1897px #FFF , 239px 604px #FFF , 1443px 1603px #FFF , 526px 1961px #FFF , 309px 1720px #FFF , 974px 1840px #FFF , 175px 579px #FFF , 1531px 1433px #FFF , 468px 173px #FFF , 155px 1675px #FFF , 1586px 52px #FFF , 1818px 1197px #FFF , 1938px 692px #FFF , 1469px 1200px #FFF , 859px 1352px #FFF , 3px 308px #FFF , 1455px 201px #FFF , 874px 902px #FFF , 386px 207px #FFF , 299px 202px #FFF , 1802px 637px #FFF , 1574px 1319px #FFF , 306px 559px #FFF , 329px 1979px #FFF , 1147px 477px #FFF , 1970px 186px #FFF , 1693px 1873px #FFF , 1109px 940px #FFF , 1353px 346px #FFF , 1525px 307px #FFF , 149px 19px #FFF , 826px 487px #FFF , 1359px 1449px #FFF , 713px 1163px #FFF , 251px 1019px #FFF , 232px 1677px #FFF , 660px 167px #FFF , 1142px 1750px #FFF , 959px 239px #FFF , 1083px 66px #FFF , 1073px 1053px #FFF , 850px 1021px #FFF , 1804px 551px #FFF , 713px 424px #FFF , 233px 217px #FFF , 1071px 1354px #FFF , 453px 887px #FFF , 293px 1583px #FFF , 1098px 1465px #FFF , 289px 146px #FFF , 80px 1993px #FFF , 1607px 884px #FFF , 1653px 1155px #FFF , 1351px 1586px #FFF , 155px 1399px #FFF , 1720px 1313px #FFF , 42px 352px #FFF , 1592px 1205px #FFF , 724px 1450px #FFF , 1427px 1779px #FFF , 924px 1257px #FFF , 18px 1436px #FFF , 1008px 159px #FFF , 1176px 759px #FFF , 1108px 1622px #FFF , 263px 948px #FFF , 139px 731px #FFF , 703px 1257px #FFF , 1047px 311px #FFF , 1616px 1345px #FFF , 256px 274px #FFF , 516px 1841px #FFF , 256px 398px #FFF , 1532px 85px #FFF , 1027px 1860px #FFF , 33px 1473px #FFF , 1828px 722px #FFF , 1487px 1636px #FFF , 1597px 1011px #FFF , 1735px 1471px #FFF , 1417px 25px #FFF , 1301px 344px #FFF , 1598px 1315px #FFF , 1870px 577px #FFF , 777px 384px #FFF , 1573px 143px #FFF , 1495px 311px #FFF , 352px 1782px #FFF , 1352px 1525px #FFF , 505px 1171px #FFF , 1247px 883px #FFF , 1150px 1313px #FFF , 1860px 940px #FFF , 1579px 1531px #FFF , 937px 1804px #FFF , 855px 825px #FFF , 1368px 397px #FFF , 171px 103px #FFF , 1825px 1515px #FFF , 1374px 1213px #FFF , 1409px 349px #FFF , 1895px 844px #FFF , 284px 1035px #FFF , 1707px 893px #FFF , 146px 1737px #FFF , 657px 1409px #FFF , 772px 654px #FFF , 1203px 587px #FFF , 124px 1721px #FFF , 645px 1095px #FFF , 973px 1371px #FFF , 496px 1467px #FFF , 376px 1069px #FFF , 333px 266px #FFF , 1751px 1831px #FFF , 1122px 1994px #FFF , 192px 1855px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 829px 1521px #FFF , 592px 724px #FFF , 131px 1540px #FFF , 1081px 1507px #FFF , 24px 776px #FFF , 1812px 1524px #FFF , 302px 1656px #FFF , 196px 1506px #FFF , 411px 489px #FFF , 1478px 356px #FFF , 280px 1715px #FFF , 44px 1853px #FFF , 284px 472px #FFF , 500px 1467px #FFF , 1399px 167px #FFF , 553px 615px #FFF , 1158px 1185px #FFF , 1739px 855px #FFF , 651px 1280px #FFF , 1021px 1053px #FFF , 1175px 1594px #FFF , 1812px 1613px #FFF , 516px 310px #FFF , 1900px 1151px #FFF , 1080px 1243px #FFF , 416px 1116px #FFF , 1657px 1530px #FFF , 1188px 1953px #FFF , 1776px 1796px #FFF , 1399px 40px #FFF , 1202px 1389px #FFF , 1739px 372px #FFF , 195px 1485px #FFF , 1409px 401px #FFF , 1333px 1873px #FFF , 1497px 576px #FFF , 320px 1546px #FFF , 1384px 320px #FFF , 240px 301px #FFF , 363px 689px #FFF , 1326px 606px #FFF , 1772px 1034px #FFF , 494px 960px #FFF , 1834px 343px #FFF , 1481px 627px #FFF , 1597px 1722px #FFF , 518px 2px #FFF , 918px 311px #FFF , 233px 1167px #FFF , 1735px 427px #FFF , 820px 342px #FFF , 966px 958px #FFF , 1589px 46px #FFF , 1739px 1598px #FFF , 515px 1670px #FFF , 1700px 1147px #FFF , 820px 397px #FFF , 781px 809px #FFF , 115px 1041px #FFF , 1803px 1463px #FFF , 1355px 1923px #FFF , 570px 361px #FFF , 1622px 1500px #FFF , 1960px 660px #FFF , 818px 386px #FFF , 254px 1523px #FFF , 615px 131px #FFF , 1425px 1795px #FFF , 1129px 224px #FFF , 496px 1951px #FFF , 309px 1031px #FFF , 448px 979px #FFF , 1198px 1701px #FFF , 188px 1049px #FFF , 1732px 1581px #FFF , 143px 1135px #FFF , 651px 77px #FFF , 1069px 1440px #FFF , 1550px 1024px #FFF , 912px 1617px #FFF , 1482px 938px #FFF , 1423px 1473px #FFF , 1254px 474px #FFF , 1013px 144px #FFF , 1818px 1164px #FFF , 362px 55px #FFF , 498px 160px #FFF , 756px 1761px #FFF , 1955px 347px #FFF , 1429px 1235px #FFF , 1277px 315px #FFF , 1050px 832px #FFF , 312px 21px #FFF , 170px 181px #FFF , 1280px 444px #FFF , 1985px 760px #FFF , 1789px 1987px #FFF , 1419px 959px #FFF , 440px 1880px #FFF , 1309px 1450px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 829px 1521px #FFF , 592px 724px #FFF , 131px 1540px #FFF , 1081px 1507px #FFF , 24px 776px #FFF , 1812px 1524px #FFF , 302px 1656px #FFF , 196px 1506px #FFF , 411px 489px #FFF , 1478px 356px #FFF , 280px 1715px #FFF , 44px 1853px #FFF , 284px 472px #FFF , 500px 1467px #FFF , 1399px 167px #FFF , 553px 615px #FFF , 1158px 1185px #FFF , 1739px 855px #FFF , 651px 1280px #FFF , 1021px 1053px #FFF , 1175px 1594px #FFF , 1812px 1613px #FFF , 516px 310px #FFF , 1900px 1151px #FFF , 1080px 1243px #FFF , 416px 1116px #FFF , 1657px 1530px #FFF , 1188px 1953px #FFF , 1776px 1796px #FFF , 1399px 40px #FFF , 1202px 1389px #FFF , 1739px 372px #FFF , 195px 1485px #FFF , 1409px 401px #FFF , 1333px 1873px #FFF , 1497px 576px #FFF , 320px 1546px #FFF , 1384px 320px #FFF , 240px 301px #FFF , 363px 689px #FFF , 1326px 606px #FFF , 1772px 1034px #FFF , 494px 960px #FFF , 1834px 343px #FFF , 1481px 627px #FFF , 1597px 1722px #FFF , 518px 2px #FFF , 918px 311px #FFF , 233px 1167px #FFF , 1735px 427px #FFF , 820px 342px #FFF , 966px 958px #FFF , 1589px 46px #FFF , 1739px 1598px #FFF , 515px 1670px #FFF , 1700px 1147px #FFF , 820px 397px #FFF , 781px 809px #FFF , 115px 1041px #FFF , 1803px 1463px #FFF , 1355px 1923px #FFF , 570px 361px #FFF , 1622px 1500px #FFF , 1960px 660px #FFF , 818px 386px #FFF , 254px 1523px #FFF , 615px 131px #FFF , 1425px 1795px #FFF , 1129px 224px #FFF , 496px 1951px #FFF , 309px 1031px #FFF , 448px 979px #FFF , 1198px 1701px #FFF , 188px 1049px #FFF , 1732px 1581px #FFF , 143px 1135px #FFF , 651px 77px #FFF , 1069px 1440px #FFF , 1550px 1024px #FFF , 912px 1617px #FFF , 1482px 938px #FFF , 1423px 1473px #FFF , 1254px 474px #FFF , 1013px 144px #FFF , 1818px 1164px #FFF , 362px 55px #FFF , 498px 160px #FFF , 756px 1761px #FFF , 1955px 347px #FFF , 1429px 1235px #FFF , 1277px 315px #FFF , 1050px 832px #FFF , 312px 21px #FFF , 170px 181px #FFF , 1280px 444px #FFF , 1985px 760px #FFF , 1789px 1987px #FFF , 1419px 959px #FFF , 440px 1880px #FFF , 1309px 1450px #FFF;
}

/*#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
